@import "tailwindcss";

@theme {
  --color-primary: #262F4B;
  --color-secondary: #E53935;
  --font-sans: 'Inter', 'Roboto', sans-serif;
  --font-heading: 'Funnel', 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased font-sans m-0 p-0;
  }
}
